[2017-01-04 05:48] realslimshanky opened #1 "Tweet is not re-tweeted if hashtag is occured at the beginning of the tweet"
Tweet in form of "#100DaysOfCode ......" is not retweeted
example, https://twitter.com/realslimshanky/status/816352899257102336

[2017-01-04 05:58] amandeepmittal commented on #1
It does, however the it is a random process. Not every tweet with hashtag "#100DaysOfCode" gets retweeted by the bot. Check the bot account: [@_100DaysOfCode](https://twitter.com/_100DaysOfCode)

[2017-01-04 05:58] #1 closed

[2017-01-04 06:06] realslimshanky commented on #1
Sorry for the worry, that cleared my doubt, thanks :)

[2017-01-07 06:14] QuincyLarson opened #3 "Whenever someone hits 100 days, tweet out a congratulations"

[2017-01-07 06:14] QuincyLarson opened #4 "Whenever someone starts day 1, tweet an encouraging message to them"

[2017-01-07 06:15] QuincyLarson opened #5 "If a #100DaysOfCode tweet has negative sentiment, tweet back encouragement"

[2017-01-07 15:36] spences10 commented on #4
This and [#3](https://github.com/FreeCodeCamp/100DaysOfCode-twitter-bot/issues/3) are pretty similar, could they not be done as the same change?

Happy to do both by the way 👍

[2017-01-07 15:38] spences10 commented on #5
I've been playing around with the `twit` package and getting to grips with it so happy to take a look at this too, but think [#3](https://github.com/FreeCodeCamp/100DaysOfCode-twitter-bot/issues/3) and [#4](https://github.com/FreeCodeCamp/100DaysOfCode-twitter-bot/issues/4) could be done first, maybe?

[2017-01-07 15:55] amandeepmittal commented on #4
Yes they'll have similar functionality and you can use a single PR to solve these issues. Just mention in the PR, which issues you have solved.

[2017-01-07 16:37] abhijeetpanda12 commented on #3
I can work on this issue, but it may take time, I am in a learning phase and I believe I'll complete the project if given the chance.

[2017-01-07 16:41] AlexandreResende opened #7 "Project of the day."
It is a suggestion of a project that one can develop on that day. It can be a simple things of a skill to develop through that 1 hour.

[2017-01-07 16:46] amandeepmittal commented on #3
@abhijeetpanda12 looking forward to your PR

[2017-01-07 16:55] abhijeetpanda12 commented on #3
@amandeepmittal  could you provide me some help for things that you think I need to take care of?

[2017-01-07 17:45] amandeepmittal commented on #3
To get a basic idea you can get familiar with the `bot.js` file itself. The code has comments which might help you. You can check out some articles on Twitter Bots and Node.js if you are not famiilar with them. Or you can straight away dive into [`twit`](https://www.npmjs.com/package/twit) documentation.

[2017-01-07 18:21] abhijeetpanda12 commented on #3
@amandeepmittal thank you very much. I am looking into it. I'll keep posted.

[2017-01-07 23:03] Ilyes-Hammadi commented on #5
I've started to implement the sentiment detection in the chat bot using the [Sentiment 3 API](https://market.mashape.com/vivekn/sentiment-3) and i need help for the responses, i need examples of responses in case of a Negative, Positive and Neutral sentiment.

[2017-01-08 01:25] stephanie56 opened #9 "Response to #100daysofcode tweets with random gifs from Giphy"

[2017-01-08 02:10] QuincyLarson commented on #5
@Ilyes-Hammadi This is awesome! @ka11away do you have any suggestions for the messages?

I'm going to tweet this out to get some ideas for encouraging words from people following me on Twitter.

[2017-01-08 07:03] amandeepmittal commented on #3
solved by PR #8

[2017-01-08 07:03] #3 closed

[2017-01-08 07:03] amandeepmittal commented on #4
solved by PR #8

[2017-01-08 07:03] #4 closed

[2017-01-08 07:18] spences10 commented on #7
This is a great idea and it looks like #3 and #4 have just been merged so I could play at adding in some random project like @Ilyes-Hammadi hase dome for #10

[2017-01-08 07:21] amandeepmittal commented on #5
@QuincyLarson are you looking for messages/encouraging words?

[2017-01-08 07:52] amandeepmittal opened #15 "On Congratulating user for Day 1 or Day 100, not checking clearly whether it's Day 1 or Day 100"
Check the condition if it's `Day 1` or `Day 100` to decide whether its first day or last day.
Also check the condition and exclude `Day 10`,  no tweet should be sent on `Day 10`.

[2017-01-08 08:36] spences10 commented on #7
Should there be a hash tag to include for the project if the day and what time to tweet it?

[2017-01-08 12:43] spences10 commented on #7
Added #16 for this 👍

[2017-01-08 13:18] Oxyrus commented on #9
To tweet randomly or when someone mentions the bot?

[2017-01-08 16:35] QuincyLarson commented on #5
Did I mention we have suggestions? 😄

https://twitter.com/ossia/status/817982177547878400

[2017-01-08 16:36] QuincyLarson commented on #5
@amandeepmittal @Ilyes-Hammadi @spences10

Did I mention we have suggestions? 😄

https://twitter.com/ossia/status/817982177547878400

[2017-01-08 17:21] stephanie56 commented on #9
@Oxyrus I think it can be both. (e.g. if a user tweet day 1 of #100daysofcode - the bot can response with a gif with the keyword "thumbs up" or "applause")

[2017-01-08 19:11] spences10 commented on #9
I'll happily take a look at this, I'm not sure if there will be any overlap with #5

[2017-01-08 20:14] Ilyes-Hammadi commented on #5
@QuincyLarson thanks to you and your followers for the help, it's just awesome how people are helpful 😄. I've added the proposed quotes with the [existing one](https://github.com/FreeCodeCamp/100DaysOfCode-twitter-bot/pull/10/commits/45482008ebabdf59a1174823cfdf52cb8faeaa60).

[2017-01-09 07:22] QuincyLarson commented on #5
@Ilyes-Hammadi awesome! This is a solid list! Thank you for doing this!

[2017-01-09 07:23] QuincyLarson commented on #15
@amandeepmittal yes - I noticed this bug when I was looking at the PR. We may be able to use a regex to check for a non-digit character after the 1.

[2017-01-09 09:41] amandeepmittal commented on #15
@QuincyLarson yes, @stephanie56 has done something similar. I'll check it first.

[2017-01-11 09:11] amandeepmittal commented on #5
This has been solved by and the PR is merged now. Thanks to @Ilyes-Hammadi. I think we can close this issue, @QuincyLarson ?

[2017-01-11 13:16] spences10 opened #20 "config.js to be included in .gitignore"
Just a thought that the Twitter keys for this are regenerated and kept private so that someone with not the best intentions could post what they like?

As it stands anyone can take this code and post what they like to the @_100DaysOfCode account on Twitter

[2017-01-11 14:33] benjaminspak commented on #5
@QuincyLarson @amandeepmittal I added more quotes ^_^

[2017-01-11 14:39] amandeepmittal commented on #20
Yes, that's true and thanks for the reminder. But currently where I have deployed this application, it takes code directly from Github. I'll be switching it soon.

[2017-01-11 14:40] Ilyes-Hammadi opened #22 "The Bot is twiting two times for the same person"
I noticed that the Bot is twiting two time for the same person.

[2017-01-11 14:42] amandeepmittal commented on #22
@Ilyes-Hammadi in what scenario?

[2017-01-11 15:03] spences10 commented on #20
I have done this for my other bot as I only really noticed it was an issue when there were several of us all tweeting from the same account :+1:

[2017-01-11 15:19] Ilyes-Hammadi commented on #22
@amandeepmittal when detecting a Negative tweet (Sentiment detection), it's tweeting two times for the same person.

[2017-01-11 19:11] stephanie56 commented on #22
@Ilyes-Hammadi is that a same tweet goes to the same person?

[2017-01-11 19:16] Ilyes-Hammadi commented on #22
@stephanie56 it's tweeting two different tweet each times

[2017-01-12 05:40] amandeepmittal commented on #22
@Ilyes-Hammadi have you find the cause?

[2017-01-12 06:29] raisedadead opened #24 "Bot replies to re-tweets."
I re-tweeted one user:
https://twitter.com/heyamberwilkie/status/818507978697506818

![image](https://cloud.githubusercontent.com/assets/1884376/21879361/52845536-d8be-11e6-966b-b08af1e50b41.png)

And the bot replied to me think that I am on my first day of streak
https://twitter.com/_100DaysOfCode/status/818512348080115713

![image](https://cloud.githubusercontent.com/assets/1884376/21879390/8c2d

[2017-01-13 08:31] amandeepmittal commented on #24
@raisedadead thank you for notifying, will look into it.

[2017-01-19 03:29] mathewmorris opened #26 "Bot spams encouragement with multiple hashtags"
## Issue
Basically had 24 notifications in less than 30 seconds and they were all from the bot mentioning me.

## Possible Solution
Maybe we can teach it to only encourage once per day?

<br>
<br>

![image](https://cloud.githubusercontent.com/assets/10860014/22092659/e15f127c-ddc4-11e6-8071-003c209df154.png)

[2017-01-20 09:28] spences10 commented on #20
Maybe the keys are shared via [keybase.io](https://keybase.io/)?

Example here from the site...

[code]

[2017-01-20 09:28] spences10 commented on #20
Didn't mean to close! Apologies!

[2017-01-20 09:51] spences10 commented on #9
I had a play around with this, I'm guessing there's a better way to serve the gif. I managed it with pulling the gif to ./src then attaching to the tweet.
Example

---
[code]
---

[2017-01-20 09:54] spences10 commented on #26
I have been getting multiple encouraging tweets, can we get the id of the tweet that triggered the response and then reply to that so there's an audit trail?

[2017-01-20 17:55] spences10 commented on #26
If no one else is looking at this I'm thinking about using level db add a user ID, something like.

[code]

Then destroy the db every 24 hrs so no one is given to many inspirational quotes :smile:

[https://github.com/Level/level](https://github.com/Level/level)

[2017-01-22 06:10] amandeepmittal commented on #26
@spences10 why don't you create a prototype of suggested with leveldb, and then we both can test it?

[2017-01-22 06:10] amandeepmittal commented on #5
@QuincyLarson I think this task is done. Can we close this issue now?

[2017-01-22 10:31] spences10 commented on #26
Hi @amandeepmittal I have and am currently education myself with LevelDB, something I thought was quite straight forward has consumed quite a bit of time now.

I have `db.js` for the database

[code]

And I want to be able to query the db, so in `app.js`

[code]

Output is

[code]

That's from mashing the `node app.js` in the terminal

So, I'm trying to work out how to iterate or just `get` data f

[2017-01-22 23:02] spences10 commented on #26
Added PR #30 for this 👍

[2017-01-23 10:56] amandeepmittal commented on #26
@spences10 Is it good to go? No breaks, I guess?

[2017-01-23 11:02] spences10 commented on #26
@amandeepmittal yis g2g :sunglasses:

[2017-01-23 11:10] spences10 commented on #26
@amandeepmittal maybe I should explain the changes before you merge?

Added logic to the sentiment detection, and add user name as the `key` and `encourage` as the value

There's a check to see if the `screen_name` is already in the db before the `.put`

[code]

I also added in `fs-extra` so that the database could be rebuilt each day

[code]

Maybe I could add something a bit more detailed other

[2017-01-23 17:15] spences10 commented on #26
Ok, for some reason I couldn't trigger sentiment on my test bot on the #100DaysOfCode tag but the production bot found them just fine

![image](https://cloud.githubusercontent.com/assets/234708/22214263/f87f5962-e18e-11e6-9187-670d4390da13.png)

I switched to my @DroidScott twitter account for the testing and got the result I wanted on #someTestHashTag and got the result I was after

![image](http

[2017-01-24 05:52] amandeepmittal commented on #7
Done with #25

[2017-01-24 05:52] #7 closed

[2017-01-24 05:52] #5 closed

[2017-01-25 09:56] spences10 commented on #26
Ok, this is still an issue @Ilyes-Hammadi are you able to add anything to this?

The logging for the database functions as expected, see the output here:

![image](https://cloud.githubusercontent.com/assets/234708/22285129/52260908-e2e2-11e6-8817-a3b56bd2f594.png)

That has my twitter handle ScottDevTweets added to the database, but the output from the bot is double as per the original issue:

![i

[2017-01-25 11:02] spences10 commented on #26
Ok, so I set up this bot on a different account and different hashtag and repeated the test so there are three accounts I'm testing with, so first I test with my personal Twitter account @spences10 output here:

![image](https://cloud.githubusercontent.com/assets/234708/22287905/9748db78-e2ec-11e6-8e28-65c1cc45ee72.png)

I get the output we get on the @_100DaysOfCode bot production console, same *

[2017-01-25 14:45] amandeepmittal commented on #26
@spences10 Done

[2017-01-25 14:51] spences10 commented on #26
Anyone going to own up to leaving the bot running?

[2017-01-25 15:57] robbawebba commented on #26
Lol I wish there was an easier way to test twitter bots locally instead of having to use the same auth tokens as production. 😅 This problem is also noted in #22

[2017-01-25 16:54] amandeepmittal commented on #26
@robbawebba The purpose of giving access to tokens is that user can test themselves. But I guess, the purpose is no longer fulfilled.

[2017-01-25 16:55] amandeepmittal commented on #26
@spences10 you were absolutely right. Someone was running another instance of the bot.

[2017-01-25 16:57] #26 closed

[2017-01-25 17:05] spences10 commented on #26
@robbawebba this was quite puzzling for me so I used my own twitter accounts for testing which worked gloriously well.

@amandeepmittal I think this is the way forward, just have contributors use the code base but use their own keys on either a throw away account or one they will be using for their own development.

Also :tada: :fireworks: :champagne:

quite happy with myself at figuring that one

[2017-01-25 17:07] spences10 commented on #22
Someone left the keys in the ignition :smile:

[2017-01-25 17:57] #22 closed

[2017-01-26 09:51] spences10 commented on #20
@amandeepmittal this can be closed now that we have a workaround for the keys now :+1:

[2017-01-26 09:51] #20 closed

[2017-01-27 14:21] benjaminspak opened #37 "Add Additional Hash Tags to Tweets"
I would like to add #301DaysOfCode to tweets so people following that track can join part of the larger FCC community.

[2017-01-29 09:06] spences10 opened #39 "Standardise call timers"
So as I understand it, 100DoC bot is calling functions in two differing ways which seem the samey

[code]

[bot.js#L148](https://github.com/freeCodeCamp/100DaysOfCode-twitter-bot/blob/master/bot.js#L148)

And

[code]

[bot.js#L93](https://github.com/freeCodeCamp/100DaysOfCode-twitter-bot/blob/master/bot.js#L93)

and I'm asking for clarification here just as much as agreement but, is there not one

[2017-01-29 10:24] spences10 commented on #37
What branch are you doing this under @benjaminspak?

[2017-01-29 13:36] benjaminspak commented on #37
@spences10 Haven't worked on a branch for it. I spoke with @amandeepmittal and he mentioned he needed to speak with the other project members about it before we moved forward.

[2017-01-29 14:11] spences10 commented on #37
Ok coolio, so waiting to hear back from @amandeepmittal

[2017-01-30 13:00] amandeepmittal commented on #37
I think we can update it with #301DaysOfCode hashtags. @benjaminspak you should do it. Make yourself familiar to code and add the necessary hashtag.

[2017-01-30 13:02] amandeepmittal commented on #39
@spences10 `setInterval` serves it own purposes, but the reason I used `setImmediate` [is this](http://stackoverflow.com/questions/24117267/nodejs-settimeoutfn-0-vs-setimmediatefn). You will find your answer. 👍

[2017-01-30 13:12] spences10 commented on #39
Ok, cool can we agree on the interval format? I find it easier to read `1000 * 60 * 16` as 16 minutes rather than `960000`

[2017-01-30 13:21] spences10 commented on #9
@stephanie56 you need any help with this?

[2017-01-30 13:22] amandeepmittal commented on #39
Sure.

[2017-01-30 13:33] #39 closed

[2017-01-30 18:06] amandeepmittal commented on #37
@benjaminspak merged: #44. This issue can be closed now.

[2017-01-30 19:52] spences10 commented on #7
So, whilst doing the bins I think I have worked out how to do the controlled search.

Add each item to the leveldb as you search but before searching the string check the db if it there, if it is generate a new string, keep on going until there's no combinations left once that happens delete the db and start again 👍🔥🔥🔥🔥🔥👌

If you can't tell I'm quite happy to have mentally worked that out 😁😎

[2017-01-31 13:48] #37 closed

[2017-02-01 19:33] spences10 opened #49 "Licence"
Licence it's MIT, right?

![image](https://cloud.githubusercontent.com/assets/234708/22522879/2d9982d0-e8b5-11e6-9e15-4292cab8715a.png)

![image](https://cloud.githubusercontent.com/assets/234708/22522890/3913f21c-e8b5-11e6-9555-0e943dff8101.png)

[2017-02-02 03:21] mathewmorris opened #50 "Encouragement for users not to day 100 yet"
What if we had something to where the bot would encourage someone to continue their 100DaysofCode? Maybe if they haven't posted in 7+ days and haven't posted Day 100 they would get a tweet mention that encouraged them to keep on going??

[2017-02-02 05:36] amandeepmittal commented on #49
Nope, it's BSD 3-Clause.

[2017-02-02 17:04] spences10 commented on #49
Better close the ticket then :blush:

[2017-02-02 17:04] #49 closed

[2017-02-06 16:06] spences10 opened #54 "Keys left in ignition"
API keys in `config.js` again, I have submitted PR to use `.env` `require('dotenv')` so API keys can be ignored in future :smile:

Added #53 for this

[2017-02-06 16:22] amandeepmittal commented on #54
Yes, and the app is deployed directly from this repo. I will moving everything locally on the deployment site soon.

[2017-02-06 16:26] spences10 commented on #54
Ok, but for people wanting to fork and make their own changes do you think that using `dotenv` will be useful?

[2017-02-07 06:34] amandeepmittal commented on #54
@spences10 They will have to generate their own keys and tokens. Create a sample app to test the functionality they want to implement in this repo and if everything works, they can then make a fork for same functionality. What do you think of this path?

[2017-02-07 06:39] spences10 commented on #54
Yes that is the intention, I think I mentioned it before in a previous issue but without this PR, this PR it's intended that the user set up their own keys/bot/etc

[2017-02-07 07:46] amandeepmittal commented on #54
Twit module is unable to read env vars when I am using `dotenv` module.
![See This:](http://i.imgur.com/rZyYe0H.png)

[2017-02-07 07:53] spences10 commented on #54
Ok cool, so you have the API keys in the `.env` file and they're _not_ surrounded by `''` is that right?

[2017-02-07 07:57] amandeepmittal commented on #54
Now since I revoked the access of this repo form heroku account, this has created a problem. This same repo cannot be deployed back since I do not have access to the freeCodeCamp org. @QuincyLarson  can we do something about this? Can we give heroku access to this repo again?

[2017-02-07 08:17] QuincyLarson commented on #54
@amandeepmittal I am not 100% what you're asking. Whose Heroku account is this app running on? Why does Heroku need access to a specific repo? Can't you just deploy the code from this repo to Heroku? Does this have to do with the Heroku project's own environment variables?

[2017-02-07 11:11] amandeepmittal commented on #54
@QuincyLarson Before transferring this repo to freeCodeCamp, my Heroku account had direct access to it for deployment purposes. Since, this repo has been transferred, I am unable to deploy it directly to Heroku.

However, I am deploying a clone of this repo. If you have no problem with that, then it's fine with me.

PS: No, the environment variables is another matter.

[2017-02-07 11:15] spences10 commented on #54
@amandeepmittal was it the changes in #53 that caused the issue?

I notice it was rejected, was that because it broke the build or because that isn't how you want to implement the solution to people posting their private Twitter API keys to GitHub?

[2017-02-07 12:07] amandeepmittal commented on #54
Yes, it broke the build. The Twit module cannot read environment variables' values. See the screen shot (above ꜛꜛꜛ)

[2017-02-07 16:00] spences10 commented on #54
The `twit` module can read the vars in the versions I have used it with my friend, I tested this several times with the `twitter-bot-bootstrap` and my own version of the `100DoC twitter bot`

[2017-02-08 06:15] amandeepmittal commented on #54
Strange. What `dotenv` version are you using? I am using 2.0.0

[2017-02-08 06:39] spences10 commented on #54
`"dotenv": "^4.0.0",` 👍

[2017-02-08 06:39] amandeepmittal commented on #54
Okay, let me try with that.

[2017-02-08 06:43] amandeepmittal commented on #54
@spences10 can you please make a PR again?

[2017-02-08 06:47] spences10 commented on #54
Sure, I think I deleted my branch but it shouldn't take long to implement again.

PR incoming 👍

[2017-02-08 12:31] spences10 commented on #50
Hi @mathewmorris, this is a good suggestion, is this something you could take on?

I have used a `LevelDB` integration for the user blacklist so that users are not sent tweets encouraging them  more than once every 24hrs you could expand on this to include the users on the #100DoC hashtag

What I added was quite crude but does the job, I do want to further enhance this though and this could be a g

[2017-02-08 18:45] spences10 commented on #54
Submitted #56

[2017-02-10 09:43] spences10 commented on #54
#56 merged, so close, thanks all :+1:

[2017-02-10 09:43] #54 closed

[2017-02-20 09:37] spences10 opened #57 "User blacklist enhance"
Consider adding `SuperCoderBot` @heroes_bot to the user blacklist

Maybe add blacklisted usernames to the `config.js` files like in the example done for the [twitter bot bootstrap](https://github.com/spences10/twitter-bot-bootstrap/commit/37d24ca83845e9a173848741387ced12f54bddff)

![image](https://cloud.githubusercontent.com/assets/234708/23119411/0ac0a050-f750-11e6-861b-d6d2f83a067a.png)

[2017-02-20 13:18] spences10 opened #58 "Bot tweets opt out"
Give #100DaysOfCode community members the option to opt out of receiving tweets from the bot.

They *could* just *block* the bot or *mute* it if they prefer but I think this will be a nice way to let users know that we're thinking of them and they can still follow the bot and see its posts in their stream so then be able to encourage other community members without getting tweeted at by the bot.

[2017-03-30 18:44] amandeepmittal commented on #57
@spences10 Will you make that PR?

[2017-03-30 18:45] amandeepmittal commented on #58
Does Twitter API allows that after muting a Twitter account, one can see tweets from that account in their timeline?

[2017-03-30 18:48] spences10 commented on #57
Errem, I'll take a looksee 👍

[2017-03-30 18:49] spences10 commented on #58
I haven't checked, this just come to me one morning I haven't really looked into it to be perfectly honest, I was just making a note of it before I forgot 👍 😄

[2017-03-30 18:50] amandeepmittal opened #66 "APIs abandoned: Sentiment & First/Last Day"
In the current release Sentiment & First/Last Day check APIs are abandoned since they are unreliable. For more info on this, see issue #15,  #24 & #50.

[2017-05-21 17:24] amandeepmittal commented on #9
If someone's till interested in this feature, than I am okay with it, otherwise I will be closing this issue in 1 week's time from today.

[2017-07-16 07:55] amandeepmittal opened #77 "Upgrade Node.js version"
Upgrade Node.js version to `6.11.1` to avoid vulnerabilities.
More information regarding this issue [here](https://nodejs.org/en/blog/vulnerability/july-2017-security-releases/).

[2017-07-26 11:03] amandeepmittal commented on #77
Done, with Heroku build v19.

[2017-07-26 11:03] #77 closed

[2017-08-04 05:34] spences10 opened #79 "Use `now` in place of Heroku?"
If the bot was to not use local storage via LevelDB then it could be turned into an immutable deployment with [zeti's now](https://zeit.co/now).

[2017-08-04 05:42] spences10 opened #80 "Use GraphCool for backend"
Using GraphCool to store the data the bot uses for things like:

* The Project of the Day, items could be tweeted sequentially and not repeated
* Inspirational quote items could be tweeted sequentially and not repeated
* Encouragement via the sentiment API could be better handled and use more than a key value pair
* Retweets can be checked so the bot is not retweeting a popular tweet

[2017-08-04 05:49] spences10 opened #81 "Use npm@5 in place of yarn"

[2017-08-04 06:13] spences10 opened #83 "Community profile - CONTRIBUTING.md"
Add CONTRIBUTING for the community profile of the project

[This](https://github.com/adriennefriend/imposter-syndrome-disclaimer) is a great one and fitting for freeCodeCamp imo

[2017-08-04 06:13] spences10 opened #84 "Community profile - Code of Conduct"
Add Code of COnduct for the community profile of the project

[2017-08-04 08:12] amandeepmittal commented on #80
I think this will be exciting. I haven't personally seen GraphQL actually works, but if you are familiar with it, why don't you go ahead? Let's make separate `repo` to work with Graph and after some iterations, if we reach a success level and everything is working as they are, we can switch to it. What do you think?

[2017-08-04 09:51] spences10 commented on #79
The only thing the local storage is for is the encouragement via sentiment so users are not spammed by the bot more than once a day

So, if that feature isn't needed then () => now

[2017-08-04 09:53] spences10 commented on #80
Ok, I was thinking that we could keep the 'Heroku' / 'local storage' branch and create a GraphQL branch, if we like it then switch to master?

[2017-08-04 10:08] amandeepmittal commented on #80
That's a great idea!

[2017-08-04 10:10] amandeepmittal commented on #79
But we need something to not to spam the users. I remember, intially it was a mess when the bot started until you joined the wagon.

[2017-08-04 10:54] spences10 commented on #80
Ok, well assign to me and I'll have a play 😄

[2017-08-04 10:56] spences10 commented on #79
Ok, so if https://github.com/freeCodeCamp/100DaysOfCode-twitter-bot/issues/80#issuecomment-320220231 is a success we can store that information there 😄

[2017-08-04 14:20] spences10 opened #85 "Check follower relationship before tweeting"
Check relationship and if user has already been thanked for following the account

[2017-08-07 05:36] spences10 opened #86 "Thoughts on using .stream"
Thoughts on using `bot.stream('statuses/filter'` in place of search?

So, in place of having:

[code]

Then the search function in the `retweet` module and the parameter passed in with the search terms. Why not have all the search terms in a search parameter?

[code]

There would possibly need to be some form of filter so as not to RT absolutely everything that is tweeted, but with this method, we

[2017-08-07 15:48] amandeepmittal commented on #86
Let's use this in the branch?

[2017-08-07 15:56] spences10 commented on #86
[this](https://github.com/spences10/100DaysOfCode-twitter-bot/tree/use-graphcool) branch?

[2017-08-07 17:08] spences10 opened #88 "Move `images` folder out of `src`"
It serves no purpose in the `src` folder as it's the images for the `README.md` would it not make more sense o have this in teh root directory @amandeepmittal?

[2017-08-07 17:14] spences10 commented on #84
Just found [this](https://www.freecodecamp.com/code-of-conduct/) @amandeepmittal do you think we should adapt it for the 100DoC bot or keep the one I have just submitted?

[2017-08-07 20:51] spences10 opened #89 "Remove engines"
Node is defaulted to 8 in now so maybe do away with this if deploying to now with next release?

[code]

[2017-08-07 20:53] spences10 opened #90 "Use Zeit's Release"
Maybe consider pushing some tags to make a release for this?

https://github.com/zeit/release#usage

I'm not sure if I make a release on my branch if it will be reflected on the fCC one

[2017-08-08 00:55] amandeepmittal commented on #88
Will definitely remove this today.

[2017-08-08 00:56] amandeepmittal commented on #86
Yes.

[2017-08-21 09:11] amandeepmittal opened #91 "Remove yarn.lock file"
to keep consistent use of `npm` over all development modes and the introduction of `package-lock.json` since `npm@5`.

[2017-08-21 09:19] #81 closed

[2017-08-21 09:20] #83 closed

[2017-08-21 09:20] #84 closed

[2017-08-21 09:20] #91 closed

[2017-08-21 09:21] amandeepmittal commented on #89
You are right, it is default even on the current PaaS platform used for deployment.

[2017-08-21 09:26] #88 closed

[2017-08-21 09:34] #89 closed

[2017-09-23 16:58] spences10 commented on #86
@amandeepmittal it's been a while since I have looked at this I have done a bit of work on it but I think I'm getting caught up on the sentiment

Are you able to take a look at the branch and let me know your thoughts?

https://github.com/spences10/100DaysOfCode-twitter-bot/tree/use-graphcool

Thanks

[2017-09-23 17:01] spences10 commented on #57
@amandeepmittal I have done some work on the balcklist

It's in the `use-graphcool` branch I worked on, take a look at this:

https://github.com/spences10/100DaysOfCode-twitter-bot/blob/750b2c86ee69e4c999a526c830598e7e783ea1d7/src/helpers/dbHandleSentiment.js#L8

Thanks

[2017-09-23 17:02] spences10 commented on #85
If you follow and unfollow then follow again you'll get thanked twice 🙃

[2017-10-03 10:19] spences10 opened #96 "Welcome bot! Respond to the user when committing to 100DaysOfCode"
In the [Medium article](https://medium.freecodecamp.org/the-100daysofcode-movement-rounds-resistance-and-adaptation-432429cc33060) there's a call to arms where the user will tweet their commitment to the challenge:

The bot can reply with a welcome message, this is sort of an extension to the abandoned API:

https://github.com/freeCodeCamp/100DaysOfCode-twitter-bot/issues/15
https://github.com/fre

[2017-11-08 06:36] spences10 opened #97 "Promote the Slack Channel"
Is there a way to promote use of the Slack channel via the bot?

Maybe have it as one of the automated tweets?

Here is the signup link: https://t.co/yEbhWEtFsv

[2017-11-08 06:50] amandeepmittal commented on #97
@spences10 we can use a cron job that implements the message after a particular period of time (let's say in 24 hours)?

[2017-11-08 07:38] spences10 commented on #97
I could probably add something to that effect and submit a PR

Or

You could add a help wanted and good first issue labels to it and see how that goes @amadeepmittal, what do you think?

Share the post via #100DaysOfCode on Twitter maybe?

[2017-11-14 08:07] amandeepmittal commented on #97
@spences10 if you are interested in implementing a cron job, go ahead. Otherwise, let me know.

[2017-11-15 10:48] spences10 commented on #24
Maybe [this](9c9b83b09bb55f77660c868b7d52ae3bff31b20b) can be used here for this?

It should rule out the majority of replies and RTs, right @amandeepmittal?

[2017-11-17 06:27] spences10 opened #99 "Sentiment API down or out of service"
Looks like the Mashape API for sentiment has been down for the last few days now.

![image](https://user-images.githubusercontent.com/234708/32932471-24ff7678-cb60-11e7-9c5d-6f75b19c8901.png)

Not sure wen it's going to be back up 🤷‍♂️

[2017-11-17 10:02] #99 closed

[2017-11-18 06:48] #97 closed

[2017-11-19 06:55] #24 closed

[2017-11-25 11:07] spences10 commented on #86
Ok, so with the work I have done with this:

https://github.com/spences10/delay-tweet

We can use part of it for the `.on('tweet)` method so it tweets from the stream

I need to build in limits so that they're not blown consistently, and then Ideally make it into an `npm` package but I'm going to say that this can be added for this enhancement

Thoughts @amandeepmittal ?

[2017-11-27 05:24] #86 closed

[2017-11-27 08:21] spences10 opened #105 "Add tests for env variables"
to avoid this:

[code]

These parameters need to be tested 🙃

https://github.com/freeCodeCamp/100DaysOfCode-twitter-bot/blob/7b1534c9f27b250ccd1a7416d0cc6c8202cab8be/src/bot.js#L80

[2017-11-27 08:50] spences10 opened #106 "Use `in_reply_to_status_id:`"
For replies from the bit suggest using `in_reply_to_status_id:` in the reply, this will give the user a bit of context as to why the bot is tweeting them with an inspirational quote. Example here:

[code]

A modification on this will need o be added to the `sentiment.js` module

[2017-11-27 08:56] spences10 opened #107 "Consider abstracting out `quotes.json`"
Maybe this could be pulled from an API

Maybe the `quotes.json` file could be made into an npm package?

Would be good for a first timer with reference to @amandeepmittal's [stoic-api](https://github.com/amandeepmittal/stoic-api) for reference?

[2017-11-27 10:32] #105 closed

[2017-11-27 10:32] #106 closed

[2017-11-27 11:43] amandeepmittal commented on #107
Maybe we can create a separate npm package if the context of stoic-api does not fit here for every retweet.

[2017-11-27 11:50] spences10 commented on #107
I'm on it right now, seeing if there's an `npm` package already out there

This would be a good first issue, if I can find a suitable npm package I'll update the ticket with the details

[2017-11-27 11:52] amandeepmittal commented on #107
Or if you merge quotes.json in stoic-api, be my guest.

[2017-11-28 10:54] #107 closed

[2017-11-30 08:19] spences10 commented on #57
@amandeepmittal referencing this for a fix here: https://github.com/spences10/twitter-bot-bootstrap/issues/127

[2017-12-01 05:32] #57 closed

[2017-12-02 05:02] amandeepmittal commented on #96
Can we do on the basis of some keywords? I doubt there will be exact phrase.

[2017-12-02 06:13] spences10 commented on #96
I think that exact phrase is generated from the. Medium article.  It yes we could add a string of options like with the keywords list

[2017-12-02 08:07] amandeepmittal commented on #96
That will be great. If it's generated from Medium, I don't there will be any problem.

[2017-12-02 11:06] spences10 opened #111 "Moar badges"
Add Prettier badge

Add in the Prettier badge in the readme:

Add this line below the license badge>

[code]

For the badge to look like this: [![styled with prettier](https://img.shields.io/badge/styled_with-prettier-ff69b4.svg)](https://github.com/prettier/prettier)

Label it as a good first issue and help wanted @amandeepmittal please

---

Also add in the Twitter follow intent button:

Adding

[2017-12-02 11:11] spences10 opened #112 "Contributing needs work"
The contributing.md needs to have some work done.

Can I suggest adding in how to make a PR

Maybe take details from one of @QuincyLarson's Medium articles from the guides app?

Or point to the fCC Guides app locations??

[2017-12-03 04:45] amandeepmittal commented on #112
That will be really helpful for everyone.

[2017-12-03 05:06] amandeepmittal commented on #111
Great issue! I have more in mind:
- Twitter Follower Count [![Twitter Follow](https://img.shields.io/twitter/follow/espadrine.svg?style=social&label=Follow)]()
- Github issues state [![GitHub issue state](https://img.shields.io/github/issues/detail/s/badges/shields/979.svg)]()
- Github PR(s) Count [![GitHub pull requests](https://img.shields.io/github/issues-pr/cdnjs/cdnjs.svg)]()

[2017-12-03 07:23] spences10 commented on #111
Ok, yes, I think there are issues with the issues badge however, and PR badge actually, if you wrap up the Twitter HTML follow intent in a `<p>` tag you can use the follow:

[code]
<p>
  <a href="https://twitter.com/intent/follow?screen_name=_100DaysOfCode">
    <img src="https://img.shields.io/twitter/follow/_100DaysOfCode.svg?style=social"
      alt="follow on Twitter"></a>
</p>

I'll add that t

[2017-12-04 06:43] QuincyLarson commented on #112
@spences10 Also, feel free to repurpose parts of the [freeCodeCamp contributing.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md) - it's pretty comprehensive.

[2017-12-04 20:02] spences10 commented on #112
You know what @QuincyLarson I think I will 😄

[2017-12-09 06:50] amandeepmittal commented on #90
Is it still up?

[2017-12-09 14:36] spences10 commented on #90
Yeah, I think??

[2017-12-12 10:52] spences10 opened #113 "Amend slack channel url"
The current slack channel url has expired

This is a good first issue

Change it to 100xcode.slack.com

[2017-12-12 13:58] #113 closed

[2017-12-12 13:58] amandeepmittal commented on #113
👍

[2017-12-15 23:50] harmonicadan commented on #50
I only heard about it today .... can I still start it ?

[2017-12-16 04:29] amandeepmittal commented on #50
@harmonicadan are you interested in taking part in the challenge? Of course you can. If you want to contribute to this repo check out the issues.

[2017-12-16 06:24] spences10 commented on #50
This would be a great opportunity for someone to set up some kind of backend (and all the fun that comes with that) to track users and their tweets to the #100DaysOfCode hashtag.

There would be a need to function to do a daily/weekly check for users that are in there, I'm not sure how much volume there would be going to the database as there'd need to be a record for each time someone tweets with

[2017-12-19 06:22] amandeepmittal opened #115 "Change Slack Link in the Tweet"
On @kallaway request, will change the Slack Invitation Link back to the original link for 100DaysofCode Slack Channel since it is never expiring link.

[2017-12-19 06:35] amandeepmittal commented on #115
Done.

[2017-12-19 06:35] #115 closed

[2017-12-22 20:14] amandeepmittal commented on #111
Also adding [Slack Channel](https://100xcode.slack.com) badge will be a good idea for future reference.

[2018-01-08 15:44] amandeepmittal opened #117 "Add Emojis in Tweet responders?"
@spences10 what do you think? A collection of emoticons with random tweets or one emoji for an individual tweet? 😀😁

[2018-01-08 15:49] spences10 commented on #117
What context is it around? I've done it before with an array of emoji what you appended to the end of the tweet

[2018-01-08 15:54] amandeepmittal commented on #117
The context I am proposing are the "welcome" tweets. As they have different welcome message, so I thought adding an emoji with the tweet will be a good idea.

[2018-01-08 17:25] spences10 commented on #117
You have an example of what you have in mind?

[2018-01-09 05:21] amandeepmittal commented on #117
Adding an emoji to tweets like these:
![screen shot 2018-01-09 at 10 50 11 am](https://user-images.githubusercontent.com/10234615/34706081-f90196d8-f52a-11e7-9d57-027f3d2ef6e8.png)

[2018-02-02 18:42] mhaviv commented on #111
I'm on it! 👍

[2018-02-03 05:19] amandeepmittal commented on #111
I am making a checklist of Badges we need here for brevity:
- [x] styled with prettier
- [x] 100Days Twitter Bot with Followers count
- [] Slack Channel
- [] Github PRs count
- [] Github issue count.

If you guys want to add anymore, let me know.

[2018-02-03 05:49] mhaviv commented on #111
On it no problem! 👍 😊

[2018-03-11 09:38] spences10 opened #122 "Consider adding development branch"
Please consider adding a development branch and possibly a branch for adding patches to

Also please consider adding the following protection on branches `master`, `development` and `patch` so they are protected:

![image](https://user-images.githubusercontent.com/234708/37251878-f82119a4-250f-11e8-92c0-62250e0312d8.png)

Thanks

[2018-03-11 09:41] spences10 opened #123 "Consider adding .github community folder"
Adding a `.github` folder to contain all the GitHub community files will help declutter the root of the project.

Files that can be added to the `.github` folder:

CODE_OF_CONDUCT
CONTRIBUTING
LICENCE
PR_TEMPLETE
ISSUE_TEMPLATE

Incoming PR for this as well 👍

[2018-03-11 11:08] spences10 commented on #117
Ok, lets go with:

['👍', '👌', '❤️','☕️','🍕','✨','🦄']

[2018-03-12 07:30] amandeepmittal commented on #122
Thanks @spences10 Will look into it and do the required implementations.

[2018-03-12 07:32] #117 closed

[2018-03-12 07:32] #50 closed

[2018-03-12 07:47] #123 closed

[2018-03-12 07:48] #111 closed

[2018-03-12 09:19] amandeepmittal commented on #122
Yes, that is the reason.

[2018-03-16 17:26] QuincyLarson commented on #122
@amandeepmittal I've granted you full admin privileges for this project (I hadn't realized you didn't have them).

Feel free to create any branches or configurations you see necessary. Let me know if I can do anything to help :)

[2018-03-16 17:34] amandeepmittal commented on #122
Thanks @QuincyLarson!
@spences10 will update the branch as per your instructions over the weekend.

[2018-03-16 17:41] spences10 commented on #122
Cool, just to expand on the patch branch, it's how I have been managing dependency updates, I merge them into there then if there are any failures (failed Travis build) then the dev/master branches are not affected

[2018-03-19 14:52] spences10 commented on #122
I'l like to help maintain this too if that's ok with you @QuincyLarson and @amandeepmittal 🙏

I've contributed quite a lot to this project and would be happy to help maintain it.

[2018-03-19 15:33] amandeepmittal commented on #122
Ofcourse @spences10. You are the biggest contributor to thos project. @QuincyLarson can we give him the rights and add him as a maintainer?

[2018-03-19 19:52] QuincyLarson commented on #122
@spences10 I've granted you admin access as well :)

[2018-03-19 21:00] spences10 commented on #122
Wheeeee! Thanks @QuincyLarson 🙏

[2018-03-19 21:07] spences10 commented on #122
This can be closed now, I have done all the admin

@amandeepmittal do you know any good CI tools for Heroku?

[2018-03-19 21:07] #122 closed

[2018-03-20 03:52] amandeepmittal commented on #122
Travis.

[2018-03-20 14:56] spences10 commented on #9
@stephanie56, @amandeepmittal this is pretty long-standing now, is there any interest from anyone tagged in or can we share on Twitter for interest?

the [twitter-bot-playground] is a good reference for anyone wishing to take it on...

[twitter-bot-playground]: https://github.com/spences10/twitter-bot-playground/blob/master/docs/06-tweet-media-files.md#tweet-media-files

[2018-03-20 15:02] spences10 opened #125 "[RFC] Set up Travis CI workflow"
# Request for Comments

I'm thinking that we could have this added to a Travis CI workflow but I'm not sure on how it works with Heroku
https://docs.travis-ci.com/user/deployment/heroku/

Anyone have other suggestions, like deploying as an immutable deployment to `now` or `surge`??

[2018-03-20 15:24] amandeepmittal commented on #9
Let's share on Twitter.

[2018-03-20 15:24] amandeepmittal commented on #125
Let me have look at it thia week @spences10.

[2018-03-20 15:35] spences10 commented on #125
I'm not completely clear on the Heroku workflow tbh @amandeepmittal but my thinking is for this that we can move quickly with changes from contributors.

We could have it as a Lambda function on AWS but I'm not sure I want to go down that rabbit hole just yet 🙃

[2018-03-20 15:36] stephanie56 commented on #9
Hey @spences10 @amandeepmittal sorry I missed this notification. I haven't checked out the twitter bot code for a while and will look into it. At the same time I agree it's a good idea to share it on twitter anyway.

[2018-03-21 04:05] EQuimper commented on #9
If still need I would be happy to jump on this feature :).

[2018-03-21 06:36] spences10 commented on #9
Mr @EQuimper it would be awesome if you could step in for this. I loved the super heros bot and it would be a great learning experience for us all if you could do this.

Out of curiosity, do you know how you would go about doing it?

[2018-03-21 07:37] amandeepmittal commented on #125
I am not familiar with the workings of AWS. So if you want to use that, go ahead. I will jump the wagon. I think we can start with the heroku addition and may be then we can move elsewhere? What do you think?

[2018-03-21 09:07] spences10 commented on #9
@stephanie56 do you think you could come up with some more scenarios of the bot responding with a gif?

So, there's:

* Day 1 = respond with thumbs up
* Day 100 = celebrations
* Negative sentiment = hugs gif

It would be helpful for whoever is going to take this on to know the parameters of the feature.

[2018-03-23 12:57] EQuimper commented on #9
@spences10 Im not quit sure yet, gonna take the time sunday to check this out.

[2018-03-23 13:09] amandeepmittal commented on #9
@spences10 @spences10 Can we also have a set of different gifs picked randomly for each tweet-back? This is an enhancement of the feature we are discussing but it will be prove to be interactive IMO.

[2018-03-23 13:21] spences10 commented on #9
@amandeepmittal there needs to be some context for the gif IMO.

Can't have the bot replying with random gifs to every reply, say it is replying to someone having a hard time and the sentiment bot tweets back with encouragement but also a gif of people laughing?

[2018-03-23 13:24] amandeepmittal commented on #9
I meant in the context of these three:

- Day 1 = respond with thumbs up
- Day 100 = celebrations
- Negative sentiment = hugs gif

Not every reply. I am sorry if I was not clear before.

[2018-03-23 13:36] spences10 commented on #9
Gotcha 👍

[2018-03-23 19:50] toxxn opened #128 "Getting this to run issue and deploying with zeit question/issue"
I cloned and adjusted the code in my Amazon AWS cloud 9 environment. I then used
npm i -g now -- to install now.
I went to deploy it using
npm run deploy.

I was met with the following error:
npm ERR! missing script: deploy

I then went to adjust the package.json

Under scripts I added
"deploy": "now -E",
.
.
.
"scripts": {
    "start": "node index.js",
    "test": "snyk test && jest --coverage --

[2018-03-24 12:05] spences10 commented on #128
This bot is deployed to Heroku @toxxn not Zeit's now, maybe this could be mentioned in the contributing guidelines if a user would like to deploy their own version of it.

The reason this uses Heroku is because the LevelDB database us stored locally with the bot. Now deployments are immutable meaning there filesystem can't be written to.

[2018-03-24 12:11] spences10 commented on #112
Ok, this hasn't really gone anywhere (I started the documentation but never finished it) and it has come to light that this should be addressed from #128

I'll label it as up for grabs but I don't think I can spend any time on this for a while yet.

[2018-03-24 12:20] spences10 commented on #79
Wrong issue being referenced in the PR

[2018-03-24 12:34] spences10 commented on #128
Just to go over what happens with the bot it uses a similar queuing system to [delay tweet] where any tweets that match the query string (#100daysofcode) instead of being tweeted out as soon as they are hit the stream they're added to an object and assigned a random time (defined in the `.env` file range) before being tweeted at the interval set.

The counter your seeing is possibly because nothin

[2018-03-25 09:38] amandeepmittal commented on #128
@spences 10 I will use your comment in the guidelines.

[2018-03-25 09:38] amandeepmittal commented on #79
Which one?

[2018-03-25 09:46] spences10 commented on #79
The one which closed the issue 🙃

![image](https://user-images.githubusercontent.com/234708/37873677-81b9d368-3019-11e8-9f62-da20544c1c90.png)

This issue was referenced in the PR I made to my fork then when I came upstream it closed this issue 👍

This issue still needs to be open 💯

[2018-03-25 18:30] spences10 opened #131 "Update docs to the KCD README pattern"
# README pattern

Optimal README layout from Kent Dodds [source]:

1. Title + tagline + logo?
1. Badges
1. The problem
1. The solution
1. TOC
1. Installation
1. Usage
1. FAQ
1. Inspiration
1. Alternatives
1. Contributors
1. License

[source]: https://twitter.com/kentcdodds/status/976813153647394816

[2018-03-26 04:28] amandeepmittal commented on #131
I like this!

[2018-05-16 19:16] stephanie56 commented on #9
Hey folks! I was overthinking about it... I thought we will need to upload the gif first then tweet it - but it seems like we can display the gif on twitter timeline simply by sharing the gif link  https://giphy.com/posts/how-to-share-giphy-gifs-on-twitter

So my idea is:
(1) get the keyword we need for the gif (either

[2018-05-16 19:52] stephanie56 commented on #9
Example:
`
const giphyQuery = `http://api.giphy.com/v1/gifs/search?api_key=${API_KEY}&q=${keyWord}&limit=1&rating=g`;
const gifUrl = keyWord => {
 fetch(giphyQuery)
  .then(res => res.json())
  .then(result => result.url);
}
`
Then we can append the gifUrl to a tweet that needs a gif.

[2018-05-17 16:39] EQuimper commented on #9
@stephanie56 I was checking the docs and the example you show that will work, but I think the best should be to have some gif url save somewhere inside an object who go with the type of message we want to sent. This way we know than this gif are those we want and also they don't do show bad stuff. When I use the giphy api sometime you get gif who are kind of offending etc.

I think if we save url

[2018-05-18 21:08] stephanie56 commented on #9
I agree! @EQuimper - it's easier to control the content if we pre-select those gifs. I'm imagining the object can structure like this:

[code]

And we can write a helper function that is similar to the current random emoji module. Use it in the reply.js? What do you think @spences10 @amandeepmittal?

[2018-05-18 21:56] EQuimper commented on #9
yes, I can do it this weekend, I got some time :) @stephanie56 if everyone is ok with that.

[2018-05-19 14:14] EQuimper commented on #9
@spences10 yes this is ok for you ? I can do the logic, but I would like someone else to handle the choice of the gif :)

[2018-05-19 14:15] EQuimper commented on #9
@spences10 I see some code who can be delete and some structure improvement. I can do this in a pull request. You want it or you want to keep it like it ? I was thinking also about adding eslint. You have prettier who is really nice but prettier can help the dx :)

[2018-05-19 14:49] spences10 commented on #9
Sure, put it in a PR @EQuimper, same with ESLint 👍

w/ regard to the curated list of gifs shall we have them in a `.env` file or in a `.json` object on `now` maybe?

[2018-05-19 14:55] spences10 commented on #9
Thinking about it actually, it may be a better idea to have the images object somewhere other users can access and load new images to.

If we add the files to `now` then there'll either need to be a team account set up or an individual dealing with any updates, neither being a very reliable method.

[2018-05-19 15:17] EQuimper commented on #9
@spences10 perfect I change some logic for the promote and add test. I mock also the bot so we can run test without pushing to twitter. Hope you gonna like it

[2018-05-19 15:17] EQuimper commented on #9
Json file would be better

[2018-07-04 06:31] amandeepmittal commented on #90
I am closing this issue since we are still using Heroku, Feel free to re-open the issue if you want to shift to Zeis.

[2018-07-04 06:31] #90 closed

[2018-07-19 08:44] amandeepmittal opened #139 "Blacklist these Users from Twitter"
I am opening this issue to block Twitter accounts who spam #100DaysOfCode and are retweeted by the bot. Please list Twitter handlers here and will update the list in production either weekly or bi-weekly basis.

[2018-07-19 08:45] amandeepmittal commented on #139
@JavaScriptFeed, @netguru, @geeksby are some to start.

[2018-07-19 10:39] amandeepmittal commented on #139
palashv2

[2018-07-23 18:49] amandeepmittal commented on #139
CourseGift proremotejobs dearmansoor mdimranalibd BoostlogHQ devcentral

[2018-07-24 05:05] amandeepmittal commented on #139
GitLit000

[2018-07-29 04:46] amandeepmittal commented on #139
wpacademypro,Ananna16,JavaScriptFeed,web_programmerr,reinforcelabtwt,ileadgen,BoostLog_Python,nodexl

[2018-08-06 07:44] amandeepmittal commented on #139
BoostLog_Python

[2018-08-10 08:12] amandeepmittal commented on #139
Lokusdesign, JavaScriptFeed, ahmedjr_16, husain100b, naturailycom, Priximmo, Boostlog_js, CodersInHood

[2018-08-14 05:26] amandeepmittal commented on #139
Manual: ~~IssueHunt, BoostlogHQ, coach4dev, OmarRonymaha, GitLit000, larasoftbd~~

[2019-06-16 20:27] JonDevOps opened #142 "The 2nd ul in the contributing sections setup section of the readme goes to a 404 page"
## Do you want to request a :rocket: _feature_ or report a :bug: _bug_?
(Write your answer here.)
minor bug
### :thinking: Expected Behaviour
(Write what you thought would happen.)
I thought i would go to the place i need to generate an api key but it leads to a 404 page.
### :confused: Current Behaviour
(Write what happened. Please add screenshots.)
I got a 404 page when i clicked on the 2nd ul i

[2019-06-20 18:40] amandeepmittal commented on #142
Hi @JonDevOps this bot does not support sentiments API anymore. Considering that, thanks for point out that the URL is not working. Also, the API this bot used earlier is not available as of now.

However, if you want to look into this, I can point to towards something similar: [https://rapidapi.com/textualinsights/api/sentimentapi](https://rapidapi.com/textualinsights/api/sentimentapi).

[2019-06-20 18:40] #142 closed

[2021-03-24 15:09] danoloo opened #148 "Practice bot"

[2021-03-24 17:33] spences10 commented on #148
Hey @danoloo

Care to give any more detail on the issue over the title?

I'll leave this open for today and close it if you are unable to add anything to the issue description.

Many thanks 🙏

[2021-03-24 18:20] danoloo commented on #148
Thanks for response, new to GitHub and on my first day, I'll remove it for now. Thanks for your assistance.

[2021-03-25 12:49] #148 closed

[2021-03-25 12:50] spences10 commented on #148
No problem, reach out if you need any help @amandeepmittal and I are both around on Twitter 👍

[2022-06-29 13:01] fancylettuce commented on #9
Maybe this will lead us in the right direction.

const tweet = (keyword) => {
    getGifs(keyword)
      .then(gifs => {
        const randomGif = gifs[Math.floor(Math.random() * gifs.length)];
        const tweet = `${keyword} ${randomGif.url}`;
        return tweet;
      }).then(tweet => {
        const tweetUrl = `https://twitter.com/intent/tweet?text=${tweet}`;
        window.open(tweetUrl, '

[2022-08-07 17:52] yashdev9274 commented on #131
@spences10 is it still open

[2022-08-08 06:30] spences10 commented on #131
It looks that way @yashdev9274 😊

[2022-08-08 11:45] yashdev9274 commented on #131
can you please  help me @spences10 , I 'm new to open source contribution

[2022-08-08 11:45] yashdev9274 commented on #131
how should  I start working on it

[2022-08-13 08:06] spences10 commented on #131
Hey @yashdev9274, sure, I'd be happy to help. 😊

Not right now though, I'm not going to be around for the next couple of weeks.

I'm only checking in on GitHub intermittently and I'm sorry you've been left hanging here! 😬

So, if you're ok waiting I can walk though what needs to be done. Get in touch with me via Twitter or Discord, I'm part of the [Eddie Hub](https://www.eddiehub.org/) [Discord](h

[2022-08-13 12:41] amandeepmittal commented on #131
@yashdev9274, as Scott said, we both right now are not active maintainers of this repo. However, you can get in touch with @zairahira as she putting in the effort to actively maintain it.

[2022-08-18 11:16] yashdev9274 commented on #131
thank you @spences10  and  @amandeepmittal for your help . I would really like to be in contact with  you two

BTW I'm full-stake developer and ml engineer 3rd yr college student looking for remote job please let me know if there is any opportunity for me

here is my linkedin profile: www.linkedin.com/in/yash-dewasthale

[2022-08-18 11:20] yashdev9274 commented on #131
are you @spences10 , @amandeepmittal  currently working on any project i can help